<div box-="square contain:!top" class="main-archive-box">
  <div class="header">
    <span is-="badge" variant-="background0"><h2 style="overflow: hidden; text-overflow: ellipsis; white-space: break-spaces;"><%- page.title %></h2></span>
  </div>
  <div id="content">

    › glow ~/<%- page.source %> 
    <br>
    <br>
    <%- page.content%>
  </div>
</div>   
