<footer box-="square">
  <div class="column">
    <div>
      <span is-="badge" variant-="surface2">© <%= new Date().getFullYear() %></span>
      <span><%= config.author || config.title %></span>
    </div>
    <div class="column">
      <span>Powered by: <a is-="badge" cap-="triangle" href="https://github.com/hexojs/hexo">Hexo</a> & <a is-="badge" cap-="triangle" href="https://github.com/webtui/webtui">WebTUI</a></span>
    </div>
    <div class="column">
      <span is-="badge" variant-="teal">Theme: TUI</span>
      <span is-="badge" variant-="pink">Gruvbox</span>
    </div>
  </div>
</footer>
