<footer box-="square">
  <div class="column">
    <div>
      <span is-="badge" variant-="surface2">© <%= new Date().getFullYear() %></span>
      <span><%= config.author || config.title %></span>
    </div>
    <div class="column">
      <span is-="badge" variant-="teal">Theme: TUI</span>
      <span is-="badge" variant-="pink">Catppuccin</span>
    </div>
  </div>
</footer>
